<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Carrers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner{
        width: 100%;
        height: 800px;
        object-fit: cover;
      }
    </style>
  </head>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <!-- <h1 class="text-center mt-2 mb-4">{{company_name}}</h1> -->
      <marquee class="fs-5 mt-3 mb-3" behavior="scroll" scrollamount="12" direction="left">"Take the Next Step in Your Career: Browse Our Job Listings"</marquee>
      <img id="banner" class="img-fluid" src="static/banner.jpeg">
      <h2 class="text-center mt-4">About Our Site</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h2 class="text-center mt-4 mb-4">Open Positions</h2>
      <div class="mt-10">
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <button type="button" class="btn btn-outline-secondary">Load more..</button>
      <div class="text-center">
        <div>
          <a href="mailto:saripellasurendravarma@gmail.com?subject=Query%20about%20Job%20Openings&body=Name%3A%20%3Cyour%20name%20here%3E%0D%0AQueries%3A%20%3Cyour%20queries%20here%3E" type="button" class="btn btn-primary btn-lg mt-4 mb-2">Contact Us</a>
        </div>
        <p>Copyright 2023</p>
      </div>
      {% include 'footer.html' %}
  </div>
  </body>
</html>